body {
  background-color: rgb(17, 17, 17);
  color: rgb(201, 201, 201);
  font-family: "Roboto", sans-serif;
}

.prefix {
  color: #188317;
}
.category {
  color: #bf4d57;
}
.description {
  color: rgb(126, 126, 126);
}
.loading {
  color: #0ebb0b;
}
.author {
  background: linear-gradient(
    90deg,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #0000ff,
    #4b0082,
    #9400d3
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#tl {
  position: fixed;
  right: 10px;
  bottom: 0;
  font-size: 40px;
}
